"" Source your .vimrc
"source ~/.vimrc

let mapleader = " "

Plug 'easymotion/vim-easymotion'
set easymotion

" map <leader>s <Plug>(easymotion-s)
" nmap s <Plug>(easymotion-s)
map s <Plug>(easymotion-f)
map S <Plug>(easymotion-F)
map f <Plug>(easymotion-fl)
map F <Plug>(easymotion-Fl)
" map <leader>w
map <leader>q <Action>(CloseEditor)
map \q <Action>(CloseAllEditorsButActive)
map <leader>w <Action>(SaveDocument)
map <leader>u <Action>(GotoDeclaration)
map <leader>U <Action>(GotoImplementation)
map <leader><C-u> <Action>(QuickImplementations)

"" -- Suggested options --
set scrolloff=10
set notimeout
set incsearch
map Q <Nop>


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
map <leader>f <Action>(ReformatCode)

map <leader>d <Action>(Debug)
map <leader><C-D> <Action>(Run)

map \b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc

set clipboard+=unnamed
set visualbell
set noerrorbells
set number
set relativenumber
set ideajoin

" nnoremap <C-H> <C-W>h
" nnoremap <C-J> <C-W>j
" nnoremap <C-K> <C-W>k
" nnoremap <C-L> <C-W>l

nnoremap <Space>h <C-W>h
nnoremap <Space>j <C-W>j
nnoremap <Space>k <C-W>k
nnoremap <Space>l <C-W>l

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

nnoremap n nzz
nnoremap N Nzz
nnoremap G Gzz

" don't overwrite register when pasting over selection
vnoremap p pgvy

" map <leader>ri :action Inline<CR>
" map <leader>rr :action RenameElement<CR>
" map <leader>rev :action IntroduceVariable<CR>
" map <leader>rem :action ExtractMethod<CR>
" map <leader>rm :action Move<CR>
" map <leader>ro :action OptimizeImports<CR>
" map <leader>rG :action Generate<CR>

map <leader>sf <Action>(GotoFile)
map <leader>sa <Action>(GotoAction)
map <leader>ss <Action>(GotoSymbol)
map <leader>sg <Action>(FindInPath)
